#header
  background: url("../img/heroBackground.png") no-repeat
  background-size: cover
  height: 700px
  color: #fff
  text-align: center
  overflow: hidden
  @media only screen and (max-width: 680px)
    height: 500px

  article
    width: 60%
    margin: 0 auto
    // @media only screen and (max-width: 680px)
    //   width: 100%

  h1
    color: #fff
    text-transform: uppercase
    margin-bottom: 10px
    @media only screen and (max-width: 680px)
      margin-top: 60px


  p
    @media only screen and (max-width: 680px)
      margin-bottom: 30px

  img
    width: 60%
    max-width: 500px

#brands ul
  padding: 20px 0
  display: grid
  grid-template-columns: repeat(6, auto)
  align-items: center
  @media only screen and (max-width: 550px)
    grid-template-columns: repeat(3, auto)

  li
    list-style: none
    justify-self: center
    @media only screen and (max-width: 550px)
      padding-top: 20px

  li img
    width: 70%
    margin: 0 20px
